params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset'

    input                      = "${projectDir}/assets/test_data/samplesheet_test.csv"
    outdir                     = './test_results'
    schema                     = './schema_input.json'
    genome                     = "hg19"
    binsize                    = 10000
    merge                      = true
    states                     = '1,2'
    chr_parameter_estimation   = '1' 
    publish_dir_mode           = 'copy'
    dist_histone               = 'NBI'
    dist_methyl                = 'BI'
    adjustment                 = 2
    iter                       = 5
    epsilon                    = 1
    decoding_algorithm         = 'viterbi'
    episegmix_mode             = 'standard'
    max_cpus                   = 2
    max_memory                 = '6.GB'
    max_time                   = '1.h'
}
